@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

.title {
  font-family: 'Comfortaa', cursive;
}

.App {
  height: calc(100vh - 64px);
}

#root,
html {
  height: calc(100vh - 64px);
  background-color: rgb(39, 85, 171);
  scroll-behavior: smooth;
  color: aliceblue;
}

button:disabled {
  /* cursor: not-allowed; */
  color: #ccc;
}

.pulsate {
  color: greenyellow;
  -webkit-animation: pulsate 1s ease-in-out infinite both;
  animation: pulsate 1s ease-in-out infinite both;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
